<head th:fragment="header">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"><!-- bootstrap css -->
  <link th:href="@{css/fontawesome/font-awesome.min.css}" rel="stylesheet"><!-- font-awesome icon css -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,800,700,300' rel='stylesheet' type='text/css'><!-- google fonts -->
  <link rel="stylesheet" th:href="@{css/pss-custom.css}"><!-- custom css -->
  <link rel="stylesheet" th:href="@{css/select2.min.css}"/>
  <link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">

  <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/jexcel.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/jsuites.css}"  />
  <link rel="icon" th:href="@{image/favicon.ico}">

  <title>HWY MAIL & SIGNATURE LOG DB</title>
</head>
