<div th:fragment="modal">

<!--Report Modal-->
<div class="modal fade" id="reportinfoModal" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportinfoModalTitle">LOG</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="reportinfopdf"></div>
    </div>
  </div>
</div>
<!--Report Modal-->
</div>